<% if !notice.nil? %>
  <%= content_tag(:p, notice , class:"alert alert-success")  %>
<%end%>

<h1>Tipos de  Mineracão</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Sigla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipomineracaos.each do |tipomineracao| %>
      <tr>
        <td><%= tipomineracao.descricao %></td>
        <td><%= tipomineracao.sigla %></td>
        <td><%= link_to 'Visualizar', tipomineracao, class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_tipomineracao_path(tipomineracao) , class:"btn btn-warning" %></td>
        <td><%= link_to 'Apagar', tipomineracao, class:"btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de Mineração', new_tipomineracao_path  , class:"btn btn-success"%>
<%= link_to 'Voltar' , inicio_path, class:"btn btn-primary"   %>